bin/
GreenOnions.BotMain/obj/
GreenOnions.BotManagerConsole/obj/
GreenOnions.BotManagerWindow/obj/
GreenOnions.HPicture/obj/
GreenOnions.PictureSearcher/obj/
GreenOnions.Translate/obj/
GreenOnions.Utility/obj/
.vs/
GreenOnions.Repeater/obj/
GreenOnions.RSS/obj/
GreenOnions.ForgeMessage/obj/
GreenOnions.Help/obj/
GreenOnions.TicTacToe/obj/
GreenOnions.Model/obj/
GreenOnions.MiraiApiHttp/obj/
GreenOnions.CqHttp/obj/
GreenOnions.Interface/obj/
